
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Product</title>
</head>
<body>
    <div class="w-full h-full  p-10 ">
        <!-- <a href="/read" class="text-blue-500 py-10">View Users</a> -->
<h1 class="text-3xl tracking-tighter mb-3">Create Product</h1>
<form autocomplete="off" action="/products/create" method="post" enctype="multipart/form-data">
    <div class="flex flex-wrap gap-3">
        <input type="file" name="image">
        <label for="name">Name</label>
        <input type="text" required placeholder="name" name="name" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outlined-none ">
        <label for="name">Description</label>
        <input type="text" required placeholder="description" name="description" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outlined-none ">
        <label for="price">Price</label>
        <input type="number" required placeholder="price" name="price" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outlined-none ">
        <label for="discount">Discount</label>
        <input type="number" required placeholder="discount" name="discount" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outlined-none ">
        <label for="stock">Stock</label>
        <input type="number" required placeholder="stock" name="stock" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outlined-none ">
        <label for="seller">Seller</label>
        <input type="text" required placeholder="seller" name="seller" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outlined-none ">
        <label for="category">Category</label>
        <input type="text" required placeholder="category" name="category" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outlined-none ">    
    </div>
    <input class="m-5 bg-emerald-500 px-5 py-2 rounded-lg" type="submit" value="Create Product">
</form>
    </div>
</body>
</html>
